[SupremeBotConfig]
name = NViiCJhwtgGm0uiPi5iksg==
email = FfIrAUxShIBPl6whO0E5VA==
phone = Qe/aOO+6iYcTC8eWUerxVw==
addr1 = NUvuGJGZ8zdQlaU9GKSG5w==
addr2 = USqgu6xYRI93GisoyPo9nw==
addr3 = USqgu6xYRI93GisoyPo9nw==
city = MCCNDyTZ11UzEzWYUy/eyQ==
post/zip code = QKW7jHbXFXGPp8QOX4qi+Q==
country = P4lHfjrNWzhSE3PnEVuwJA==
cardtype = PLhaAlQ62C2mV1WgzkQPng==
cardno = RE81yHEqZiUzHNh9+i54LQkZglRAGtjwTF88PDAcPu8=
cardcvv = RE818M+Z4oElRrmIkbCg3g==
cardmonth = QKWGy98LRdjxZZjTuhrNRA==
cardyear = QyzxdhphpMA2levYDbiQxw==

