[SupremeBotConfig]
name = NViiCJhwtgGm0uiPi5iksg==
email = FfIy2b8k2GHeAARzBlRnzw==
phone = Qe/aOO+6iYcTC8eWUerxVw==
addr1 = Bdk5cUeRXpO7YvamYenUUw==
addr2 = QxNJvhB9P23xN8nndFlUBg==
addr3 = Qi7Ph/HxJFdDgT+o5UlyYA==
city = MCCNDyTZ11UzEzWYUy/eyQ==
post/zip code = QKW7jHbXFXGPp8QOX4qi+Q==
country = P4lHfjrNWzhSE3PnEVuwJA==
cardtype = Ib8jDJxcpzozyUslBX/V3A==
cardno = P6pnii34nSq7lF7/I4F5bw==
cardcvv = P6pnii34nSq7lF7/I4F5bw==
cardmonth = P6pnii34nSq7lF7/I4F5bw==
cardyear = P6pnii34nSq7lF7/I4F5bw==

