[SupremeBotConfig]
name = NViiCJhwtiHDOT6HwN/gfw==
email = FfIy2b8k2GHeAARzBlRnzw==
phone = Qe/aOO+6iYcTC/Cf838BJg==
addr1 = Bdk5cUfSbTt+S879tg07DQ==
addr2 = QxNJvhB9P23xN8nndFlUBg==
addr3 = MuiPslSkkpF73wI/3Yqz0Q==
city = PdQtXzexHZz7PDAfqTIirg==
post/zip code = R5X+N3zbfbey8Kjkgz72aw==
country = JFxKH7xKbBmsD692ZCVWlw==
cardtype = P6pnii34nSq7lF7/I4F5bw==
cardno = RE81yHEqZiUzHNh9+i54LQkZglRAGtjwTF88PDAcPu8=
cardcvv = RE818M+Z4oElRrmIkbCg3g==
cardmonth = QegjOtU0x8EF+ngFCKQqTQ==
cardyear = QyzxdhphpMA2levYDbiQxw==

